*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur" , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2E2E2E
    ;
}

.dice-game-box{
    max-width: 700px;
    min-height: 600px;
    width: 90%;
    background-color: #03A9F4;
    box-shadow: 1px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem;
} 

.dice-game-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1{
    font-size: large;
    padding: 0.8em;
    text-align: center;
    color: #FFFFFF;
    
} 

h2{
    text-align: center;
}

.score-main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-top: 30px;
}

#player-tag-1{
    margin-bottom: 1rem;
}
#player-tag-2{
    margin-bottom: 1rem;
}

.dice{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    
}

.hidden{
 visibility: hidden; 
}

.score-box{
    width: 200px;
    height: 200px;
    background-color: mintcream;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    transition: 1s;
}

.score-box-container{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;

}

.active{
    box-shadow: 5px 5px 8px black;
}


.btn{
    display: inline;
    margin: 1rem auto;
    padding: 0.4em 0.5em;
    width: 50%;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    background-color: #FF6F61  ;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;

}

.btn:hover{
    background-color: #2F4F4F;
}


.restart-btn{
    display: none;
    margin: 2rem auto;
    padding: 0.4em 1.2em;
    width: 30%;
    font-size: 1.5625rem;
    border: none;
    border-radius: 30px;
    background-color: #FF6F00;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px 8px black;
    }

.restart-btn:hover{
    background-color: #FFD700;
}

@media (max-width: 700px){
    h1{
        margin-top: em;
        line-height: 20em;
    }

    .score-main-box{
        flex-direction: column;
        gap: 2rem;
    }

    .btn{
        font-size: 1rem;
    }
    .restart-btn{
        font-size: .7rem;
    }
}